<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Juni's App</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
		<script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script defer src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
		<script defer src="{% static 'scripts/loader-close.js' %}"></script>
	</head>
	<body>
		<div class="col-xs-12 page-content-wrapper">
			<div id="loader" style="padding:10%;">
				<img src="{% static 'images/loader.gif' %}" alt="Loading"/> <br>
				<span id="loadText">Loading...</span>
			</div>
			<div class="page-content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$('#loader').fadeOut('slow');
			});
		</script>
	</body>
</html>